.carritoContainer{
    margin: 130px 0;
}

.deleteBtn{
    border: none;
    background-color: white;
    color: rgb(202, 28, 28);
    cursor: pointer;
    font-weight: 600;
    font-style: italic;
}

.deleteBtn:hover{
    color: red;
    transition: all 0.5s;
}

.noItemsInCartTitle{
    margin-top: 250px;
    margin-bottom: 50px;
    padding: 0 400px;
    font-style: italic;
    font-weight: 500;
}

.menuBtn{
    margin: 10px 0 15px 0;
    background-color: #272727; 
    border: 1px solid rgba(58, 58, 58, 0.47);
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.4s;
    margin-bottom: 250px;
}

.menuBtn:hover{
    transform: scale(1.03);
    transition: all 0.4s;
    background-color: #8d7449; 
}

.cart-container{
    margin: auto;
    max-width: 850px;
}

.CarritoTitle{
    margin: 0px 0 120px 0;
    font-style: italic;
    font-weight: 500;
    font-size: 38px;
}

.CarritoTitleh2{
    margin-bottom: 15px;
    font-size: 32px;
}

.CarritoTitleh3{
    margin-bottom: 10px;
    font-size: 22px;
    font-style: normal;
}

.productDiv{
    margin: 70px 50px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.193);
}

.productDiv img{
    border-radius: 5px;
    width: 100px;
    height: 85px !important;
    transition: all .5s;
}

.productDiv img:hover{
    transform: scale(1.1);
    transition: all .5s;
}

.productDiv h4{
    width: 150px;
    font-style: italic;
}

.titutloCantidad{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: baseline;
}

.titutloCantidad h2{
    width: 250px;
    margin: 0;
    font-style: italic;
    text-align: left;
}
.titutloCantidad h4{
    width: 100px;
    margin: 0;
    text-align: left;
}

.totalWidget{
    font-style: italic;
    margin: 30px 400px;
    display: flex;
    justify-content: space-around;
    
}

.totalWidget h2{
    font-weight: 600;
    color: #383838;
}

.formContainer{
    margin: 100px auto;
    padding: 50px;
    width: 600px;
    border: 1px solid rgba(58, 58, 58, 0.40);
    border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.40);
}

.buyBtn{
    width: 150px;
    height: 40px;
    margin-top: 60px;
    margin: 60px 0 15px 0;
    background-color: rgb(0, 90, 0);
    border: 1px solid rgba(58, 58, 58, 0.47);
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.4s;
}

.buyBtn:hover{
    transform: scale(1.03);
    transition: all 0.4s;
    background-color: rgb(0, 121, 0);
}

.mainForm{
    margin: 50px 0;
}

.formInput{
    width: 200px;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.formInput label{
    font-size: 22px;
    margin: 3px;
    font-style: italic;
}

.formInput input{
    height: 30px;
    width: 200px;
    border-radius: 5px;
    border: 2px solid rgba(58, 58, 58, 0.47);
    box-shadow: 0px 0px 4px rgba(0,0,0,0.40);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.requiredInput{
    color: rgb(120, 0, 0);
}