.title{
    font-size: 38px;
    margin: 220px auto 100px;
    font-style: italic;
    font-weight: 500;
}

.titleh2{
    font-style: italic;
    font-weight: 500;
}

.orderTitle{
    margin-top: 20px;
    font-style: italic;
    margin-bottom: 80px;
}

.menuBtn{
    font-style: italic;
}

@media only screen and (max-width: 500px){
    .title{
        font-size: 28px;
    }
}