.detail-productContainer{
  height: 640px;
  width: 520px;
  margin: auto;
  padding: 50px;
  margin-top: 50px;
  margin-bottom: 60px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}

.detail-product-img img{
  margin: 10px 0;
  width: 350px;
  object-fit: cover;
  border-radius: 5px;
  transition: all 0.5s;
}

.detail-product-img img:hover{
  transform: scale(1.2);
  transition: all 0.5s;
}

.priceTag{
  font-size: 18px;
  font-style: italic;
}

.countSpan{
  margin: 0 15px;
}

.cargando{
  margin: 360px;
}

.card-detail_detail{
  padding: 0 20px;
}

.descriptionTitle{
  font-style: italic;
}

.description{
  font-style: italic;
}

.powerDesc{
  color: rgb(1, 1, 136);
}