.item-list{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 70px;
    width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.tituloListContainer{
    width: 100%;
    margin-top: 40px;
}

.loading{
    margin: 360px;
}

